data_old
**/__pycache__
.vscode
logs
code/logs
output
code_bkup
tmp
tmp-disability
memit_pre_run
results_easy_edit
results/results_df
results/results_bias_point2plane_json
results/results_bias_point2plane_type_combined
results/results_double_checking
results/results_general_capacity/bkup
results/results_misc
results/results_bias_old
results/results_misinfo_old
results/results_sequential
results/results_bias_point2plane_strict
results/results_bias_point2plane_strict_pro
results/results_bias_point2plane_strict_pro_new
results/results_bias_point2plane_strict_non_unknown
results/results_bias_point2plane_non_unknown_5by5
results/results_commonsense_misinfomation_injection/bkup
results/results_long_tail_misinfomation_injection/bkup
strict_rule_before_eval
code/harm_run2.sh
code/harm_run.sh
tmp-race
backup
api_key.json
test_dfferent_eval_prompt
notes